/*--------------- Generals ---------------*/

/*---------- Reset ----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------- Custum properties ---------*/
:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}

/*---------- Scroll ----------*/
html{
    scroll-behavior: smooth;
}

/*---------- Debug ----------*/
/* .debug{
    border: 1px solid red;
} */

/*---------- Text formatting ----------*/
body{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: var(--color-bg-color);
    line-height: 2.2em;
}

img{
    object-fit: cover;
    width: 100%;
}

ul{
    list-style: none;
}

h1{
    color: var(--color-contrast);
    text-shadow: 1px 1px gray;
    font-size: 2.4em;
}

h5{
    color: var(--color-white);
    padding: 10px;
    font-size: 1em;
}

.bold{
    font-weight: bold;
}


/*---------- Button ----------*/
.button{
    background-color: #fff;
    padding: 0px 10px;
    border-radius: 50px;
}

/*---------- Container ----------*/
.container{
    margin: 15px;
}

/*---------- Utility flex ----------*/
.d-flex{
    display: flex;
}

.j-space-between{
    justify-content: space-between;
}

.j-space-around{
    justify-content: space-around;
}

.j-center{
    justify-content: center;
}

.j-end{
    justify-content: end;
}

.a-center{
    align-items: center;
}

.a-start{
    align-items: flex-start;
}

.a-stretch{
    align-items: stretch;
}

.d-column{
    flex-direction: column;
}

.d-row{
    flex-direction: row;
}

.d-row-reverse{
    flex-direction: row-reverse;
}

.f-wrap{
    flex-wrap: wrap;
}

/*---------- Display ---------*/
.d-none{
    display: none;
}

.shadow{
    box-shadow:
     -5px 5px 10px rgba(0, 0, 0, 0.15),
     5px 5px 10px rgba(0, 0, 0, 0.15);
}


/*--------------- Index --------------*/

/*---------- Header ---------*/
header{
    font-family: 'Nerko One', 'Helvetica Neue', sans-serif;
    background-color: var(--color-white);
    padding: 15px;
    position: sticky;
    top: 0;
}

/*---------- Main ---------*/
#title{
    line-height: 1.8em;
    padding-bottom: 15px;
}

#title:first-child{
    color: gray;
}

#title > h2, #title > h2 > span{
    color: var(--color-dark-text);
}

.card{
    background-color: var(--color-white);
}

.card-content{
    background-color: var(--color-white);
    padding: 25px 25px;
}

.card-content h3{
    padding-bottom: 24px;
}

.social{
    margin: 20px 0;
}

.social span.d-none{
    padding: 0 8px;
}

#presentation hr{
    width: 20%;
    border: 1px solid var(--color-contrast);
}

#presentation h2{
    font-weight: 500;
    font-size: 1.8em;
}

#presentation hr{
margin: 15px 0;
}

.presentation-content img{
    width: 300px;
}

.sol2{
    display: none;
}
/*---------- Footer ---------*/
footer{
    background-color: var(--color-primary);
    color: var(--color-bg-color);
    padding: 2em;
}

footer li{
    padding: 10px 10px;
}

footer a{
    color: var(--color-bg-color);
}

.footer-adress{
    text-align: center;
}

/*--------------- Responsive ---------------*/

@media (min-width: 576px) {
    .sol1{
        display: none;
    }

    .sol2{
        display: block;
    }

    .sol2 img{
        float: left;
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    h2 .d-none{
        display: inline-block;
    }

    h2{
        font-size: 1.8em;
        font-weight: 700;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc((100% / 5) - 25px);
        padding: 8px 0;
    }

    section{
        justify-content: flex-start;
    }

    .container{
        padding: 15px 30px;
    }

    .card-content ul{
        display: flex;
        flex-flow: row wrap;
    }

    .card-content li{
        width: calc(100% /3);
        line-height: 4em;
    }

    #adv{
        display: block;
    }
}

@media (min-width: 992px){
    .container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 50px;
    }

    h2{
        font-size: 2.8em;
        padding: 12px 0;
        font-weight: 800;
    }

    .social .d-none{
        display: inline-block;
        font-weight: 600;
    }

    .card{
        display: flex;
        flex-direction: row;
    }

    .card-vid{
        width: 60%;
        height: 100%;
    }

    .card-content{
        width: 40%;
        flex-direction: column;
    }

    .card-content ul{
        flex-flow: column nowrap;
    }

    .card-content li{
        width: 100%;
        line-height: 2.2em;
    }

    footer > div:nth-child(1){
        justify-content: flex-start;
    }

    .bottom-footer{
        display: flex;
        justify-content: space-between;
    }

    .footer-adress{
        text-align: justify;
    }
    
    .footer-info{
        display: flex;
        justify-content: end;
    }
}